.login-bg {
    background-image: url('../../imgs/background.jpg');
    background-color: #504d2c;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: start center;
    width: 100vw;
    height: 100vh; 
    justify-content: flex-end;       
}

.form-container{
    box-sizing: border-box;    
    color: white;    
    width: 365px;
    height: 590px;
    justify-content: end;
    padding-left: 50px;
    padding-bottom: 100px;     
    
}

.input-login {     
    align-items: start;    
    padding-bottom: 150px;
    padding-top: 15px;    
    height: 10px;    
}

.texto-link {
    text-decoration: none;
    color: white;
}

.texto-link:hover {
    color: #eab741;
}