.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.espaco-auto {
    flex: 1 1 auto; 
    min-width: 100px; 
}

.form-container-usuario {
    width: 800px;
    align-items: stretch;
}
